---
layout: default
---

<section class="landing">
  <img class="bg-image" src="/assets/img/Cenakelkerk.jpeg" alt="" />
  <div class="landing-content">
    <h1 class="landing-title fadeIn">Parsifal</h1>
    <h2 class="landing-subtitle fadeIn">dritter Akt</h2>
  </div>
</section>
<div class="container">
    {% include nav.html %}
<section class="dates">
  <p class="fadeIn"><i>“Letzten Sonntag war ich Zeuge eines derartigen Ereignisses, dass ich für Sie nur hoffen darf,

    Sie waren auch unter dem Publikum.”</i><br>
    Merlijn Kerkhof - de Volkskrant</p>
    <h2 class="underline fadeIn">Daten und Ort August 2023</h2>
    <div class="agenda fadeIn">
        <div class="dates-card fadeIn">
            <p class="fadeIn date">
              10. August | 20.00 Uhr</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bei Nimwegen)
            </p class="fadeIn">
            <a href="https://www.klassiekemuziek.nl/e/17515/tickets" the target=”_blank” class="button fadeIn">tickets</a>
        </div>
        <div class="dates-card fadeIn">
          <p class="fadeIn date">
            11. August | 20.00 Uhr</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bei Nimwegen)
          </p class="fadeIn">
          <a href="https://www.klassiekemuziek.nl/e/17417/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
      </div>
        <div class="dates-card fadeIn">
            <p class="fadeIn date">
              12. August | 20.00 Uhr</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bei Nimwegen)
            </p>
            <a href="https://www.klassiekemuziek.nl/e/17418/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
        </div>
        </div>
        <div class="agenda fadeIn">
        <div class="dates-card fadeIn">
            <p class="fadeIn date">
              13. August | 16.00 Uhr</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bei Nimwegen)
            </p>
            <a href="https://www.klassiekemuziek.nl/e/17419/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
        </div>
        
    </div>
  </section>

  <section class="info">
    <div class="iframe-container fadeIn">

        <iframe class="fadeIn"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/rg1yl6a2viY"
          frameborder="0"
          allowfullscreen
        ></iframe>

    </div>
    <h2 class="info-subtitle fadeIn">Parsifal – dritter Akt</h2>
    
    <p class="fadeIn">
      Im August kehrt Parsifal zurück zur Heilig Landstichting. Wir führen den dritten Akt der Wagner-
      Oper Parsifal auf, in einer besonderen Bearbeitung für drei Sänger, Klavier, Harmonium,
    </p>
    <p class="fadeIn">
      Synthesizer, Bassgitarre und Glocken. Die Handlung findet statt im Wohnzimmer eines
      Pflegeheims. Das Zimmer ist voller Patienten, die auf den Tod warten, und Pflegepersonal. Im
      Grunde sitzen wir alle im Wartezimmer, in Erwartung unserer Erlösung. Währenddessen klingt
      die betörende, meditative Musik Richard Wagners. Eine Oper als spirituelle Session in einem
      mystischen Ambiente.
    </p>
    <p class="fadeIn">
      Die Aufführungen finden statt in der Cenakelkerk in Heilig Landstichting, in unmittelbarer Nähe zu
      Nimwegen. Das Innere dieser Kirche bildet die natürliche Kulisse für Wagners letztes Werk und
      spielt eine wichtige Rolle in der Apotheose der Oper. Gelegen in den Wäldern bei Nimwegen, ist es
      vielleicht wohl unser eigener ‘Grüner Hügel”, der Beiname des Wagnerschen Festspielhauses in
      Bayreuth.
    </p>
      <p class="fadeIn">
      Wir freuen uns, dass Frank van Aken, der die Rolle Parsifals auf mehreren Bühnen weltweit besetzte,
      diesen Sommer die Titelrolle auf sich nehmen wird.
      Die Aufführungen werden deutsch gesungen und niederländisch untertitelt.
    </p>
  </section>

  <section class="artists">
    <h2 class="underline fadeIn">Ausführende: Pantus & Friends</h2>
    <div class="musicians">
      <div class="artists-content fadeIn">
        <img src="/assets/img/tommy-harm3.jpg" alt="">
        <p class="musician fadeIn">
          <a class="homepage-link" href="https://www.tommyvandoorn.com/" target="_blank"><b>Tommy van Doorn</b> - Harmonium </a></p>
    </div>
        <div class="artists-content fadeIn">
            <img src="/assets/img/luijmes.jpg" alt="">
            <p class="musician fadeIn">
              <a class="homepage-link" href="http://www.dirkluijmes.nl/" target="_blank"><b>Dirk Luijmes</b> - Harmonium </a></p>
        </div>
        <div class="artists-content fadeIn ">
          <img src="/assets/img/charliebo.JPG" alt="">
          <p class="musician fadeIn">
              <a class="homepage-link" href="http://www.charliebomeijering.com/" target="_blank"><b>Charlie Bo Meijering</b> - Klavier </a></p>
      </div>
        <div class="artists-content fadeIn ">
            <img src="/assets/img/DaanBoertienSebastianGaltier.jpg" alt="">
            <p class="musician fadeIn">
                <a class="homepage-link" href="https://www.daanboertien.com/" target="_blank"><b>Daan Boertien</b> - Klavier </a></p>
        </div>
       
        </div>
        <div class="musicians">
          <div class="artists-content fadeIn">
            <img src="/assets/img/andrea.webp" alt="">
            <p class="musician fadeIn">
                <a class="homepage-link" href="http://www.andreafriggi.com/" target="_blank"><b>Andrea Friggi</b> - Synthesizer</a> </p>
        </div>
          <div class="artists-content fadeIn">
            <img src="/assets/img/runia.jpg" alt="">
            <p class="musician fadeIn">
                <a class="homepage-link" href="http://www.merlijnrunia.nl/" target="_blank"><b>Merlijn Runia</b> - Kundry </a> </p>
        </div>
        <div class="artists-content fadeIn">
            <img src="/assets/img/frankvanaken.webp" alt="">
            <p class="musician fadeIn">
               <a class="homepage-link" href="https://www.frankvanaken.com/" target="_blank"> <b>Frank van Aken</b> - Parsifal  </a> </p>
        </div>
        <div class="artists-content fadeIn">
            <img src="/assets/img/marc.jpeg" alt="">
            <p class="musician fadeIn">
               <a class="homepage-link" href="https://www.marcpantus.nl/marcpantus/marc_pantus_site/voordeur.html" target="_blank"> <b>Marc Pantus</b> - Gurnemanz / Amfortas </a> </p>
        </div>
      </div>
    
    
    <p class="fadeIn extra-participants">
      <b>Regie und Gestaltung:</b> Marc Pantus und Merlijn Runia <br />
      <b>Musikalische Leitung:</b> Andrea Friggi <br />
      <b>Bearbeitung:</b> Hugo Bouma
    </p>
  </section>



  <section class="why">
    <h2 class="underline fadeIn">Warum Parsifal?</h2>
    <p class="fadeIn">
      Dieser Parsifal in kleiner Besetzung ist ein direktes Ergebnis der hinter uns liegenden Corona-Zeit.
Mein Name ist Marc Pantus, und ich bin Opernsänger und Regisseur. Mit meiner Bassstimme sind die Wochen vor
Ostern schon seit meiner Studienzeit am Konservatorium gänzlich den Bachschen Passionen gewidmet. Das ist
bestimmt keine Strafe, denn die Musik ist wunderbar und jede Aufführung ein Erlebnis. Dennoch ist es schon seit ein
paar Jahren mein Traum: Wie schön wäre es am Karfreitag nicht eine Matthäus-Passion zu haben, sondern einen
Parsifal! Trotz des Umstandes, dass im März 2021 alle Passionen abgesagt wurden, gab es auch keine Möglichkeit, eine
Alternative vor einem live Publikum aufzuführen.
Dennoch wurde die Bearbeitung im März dieses Jahres fertiggestellt und einmalig im niederländischen Rundfunk
(Radio 4) ausgestrahlt..
    </p>
    <p class="fadeIn">
      Der dritte Akt des Parsifal ist ein Wunder von Klangfarbe und Harmonie, in dem Wagner bis zum Äußersten geht,
sowohl in musikalischer als inhaltlicher Hinsicht.. Viel Handlung gibt es nicht, aber um so mehr an extatischen
Gefühlen und philosophischen Gedanken. Ich habe dieses Abenteuer angetreten, selbstverständlich weil es ein
wunderbares Werk ist, zu dem ich mich als Opernsänger, aber vor allem als Mensch gern verhalten möchte. Aber ganz
sicher auch, weil es sich hier um Leiden und Erlösung handelt, eine Thematik , bei der sich heutzutage jeder etwas
vorstellen kann. Und schließlich, weil ich meine, dass wir auf diese Weise dem Publikum eine weit tiefere Erfahrung
sowohl der Musik als auch des Textes bieten können. Dieser Tekst ist nämlich auch wunderschön, tiefsinnig und
trostreich.
    </p>
  </section>

  <section class="arrangement">
    <h2 class="underline fadeIn">Bearbeitung</h2>
    <p class="fadeIn">
      Dirk Luijmes, mit dem ich schon länger über einen Parsifal am Karfreitag gesprochen hatte, schlug vor, das in einer
Bearbeitung für Klavier und Harmonium, ein Instrument, das Dirk nah am Herzen liegt, zu tun.
Die Kombination Klavier - Harmonium gab es auch schon zu Wagners Zeit für die Aufführung von Teilen aus seinem
Werk im häuslichen Kreis.
Ik habe mich wegen der Natur des Werkes dafür entschieden, das Instrumentar zu erweitern mit einer Rolle für Orgel
oder Synthesizer, die es ermöglicht, dass es Augenblicke großer Lautstärke gibt, mit denen wir wesentlichen Sachen
wie den vier Glocken eine extra Klangfarbe verleihen können. Sonst machen wir noch Gebrauch von einer Bassgitarre.
Dies, weil die Mezzosopranistin Merlijn Runia dieses Instrument spielt und es eine schöne Ergänzung zu dem sowieso
verfremdenden Effekt der Bearbeitung dieser Musik ist, die , wie Sie wissen, für ein sehr großes Sinfonieorchester
geschrieben worden ist.
    </p>
  </section>

  <section>
    <!-- <h2 class="underline fadeIn">Speelplekken</h2>
    <p class="fadeIn">
      We spelen op twee bijzondere plekken. Het zijn beide katholieke kerken met
      een bijzonder en exuberant interieur. Ze vormen het natuurlijk decor van
      deze mystieke en religieuze opera en dragen bij aan de apotheose van de
      opera, die verder gekenmerkt wordt door eenvoudige visuele middelen.
     </p> -->
     <h2 class="underline visible fadeIn">Cenakelkerk</h2>
     <div class="church-container fadeIn">
        <img src="/assets/img/cenakelkerk-heilig-landstichting01.jpg" alt="">
        <p class="musician invisible">
           <a class="church" href="https://de.wikipedia.org/wiki/Z%C3%B6nakelkirche" target=”_blank”>Cenakelkerk</a>   </p>
    </div>
    <!-- <h2 class="underline visible fadeIn">Dominicuskerk</h2>
    <div class="church-container fadeIn">
       
        <img src="/assets/img/dominicuskerk.jpg" alt="">
        <p class="musician invisible">
           <a class="church" href="https://nl.wikipedia.org/wiki/Dominicuskerk_(Amsterdam)" target=”_blank”>Dominicuskerk </a>  </p>
    </div> -->
  </section>

  

  <section class="more-info">
    <h2 class="underline fadeIn">Weitere Infos</h2>
    <p class="fadeIn">
      <b>Artistiek Leider:</b> Marc Pantus</br>
      <b>Mail:</b> stichting-iph@xs4all.nl</br>
      <a href="www.piccoliholandesi.nl">www.piccoliholandesi.nl</a>
    </p>
  </section>
  {% include logos.html %}
</div>

