---
layout: default
---

<section class="landing">
  <img class="bg-image" src="/assets/img/Cenakelkerk.jpeg" alt="" />
  <div class="landing-content">
    <h1 class="landing-title fadeIn">Parsifal</h1>
    <h2 class="landing-subtitle fadeIn">acte 3</h2>
  </div>
</section>
<div class="container">
    {% include nav.html %}
<section class="dates">
  <p class="fadeIn"><i>“Zondag was ik getuige van zoiets bijzonders dat ik alleen maar voor u kan hopen dat u ook in het publiek zat.”</i><br>
    Merlijn Kerkhof - de Volkskrant</p>
    <h2 class="underline fadeIn">Data en plaatsen</h2>
    <div class="agenda fadeIn">
      <div class="dates-card fadeIn">
          <p class="fadeIn date">
            12 Augustus | 20.00</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bij Nijmegen)
          </p class="fadeIn">
          <a href="https://www.klassiekemuziek.nl/e/16206/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
      </div>
      <div class="dates-card fadeIn">
        <p class="fadeIn date">
          13 Augustus | 20.00</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bij Nijmegen)
        </p class="fadeIn">
        <a href="https://www.klassiekemuziek.nl/e/16207/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
    </div>
      <div class="dates-card fadeIn">
          <p class="fadeIn date">
            14 Augustus | 16.00</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bij Nijmegen)
          </p>
          <a href="https://www.klassiekemuziek.nl/e/16208/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
      </div>
      </div>
      <div class="agenda fadeIn">
      <div class="dates-card fadeIn">
          <p class="fadeIn date">
            19 Augustus | 20.00</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bij Nijmegen)
          </p>
          <a href="https://www.klassiekemuziek.nl/e/16209/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
      </div>
      <div class="dates-card fadeIn">
        <p class="fadeIn date">
          20 Augustus | 20.00</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bij Nijmegen)
        </p>
        <a href="https://www.klassiekemuziek.nl/e/16210/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
    </div>
      <div class="dates-card fadeIn">
        <p class="fadeIn date">
          21 Augustus | 16.00</p><p class="place fadeIn"> Cenakelkerk, Heilig Landstichting (bij Nijmegen)
        </p>
        
        <a href="https://www.klassiekemuziek.nl/e/16211/tickets/" the target=”_blank” class="button fadeIn">tickets</a>
    </div>
  </div>
  </section>

  <section class="info">
    <div class="iframe-container fadeIn">

        <iframe class="fadeIn"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Qzj1Ljqfl1Y"
          frameborder="0"
          allowfullscreen
        ></iframe>

    </div>
    <h2 class="info-subtitle fadeIn">Parsifal – derde acte</h2>
    
    <p class="fadeIn">
     <b> In augustus keert Parsifal terug in de Heilig Landstichting. We voeren de derde acte van Wagners opera Parsifal uit, in een bijzondere bewerking voor drie zangers, piano, harmonium, synthesizer, basgitaar en klokken. De handeling vindt plaats in de huiskamer van een verpleegtehuis. De kamer is bevolkt met patiënten die op de dood wachten, en hun verzorgend personeel. We zitten dus in feite allemaal in de wachtkamer, wachtend op verlossing. Ondertussen klinkt de bedwelmende, meditatieve muziek van Wagner. Een opera als een spirituele sessie in een mystieke omgeving.</b>
</p><p class="fadeIn">
De uitvoeringen vinden plaats in de Cenakelkerk in De Heilig Landstichting (bij Nijmegen). Het interieur van deze kerk vormt het natuurlijke decor voor Wagners laatste werk en speelt een belangrijke rol in de apotheose van de opera. Gelegen in de bossen bij Nijmegen is het misschien wel onze eigen "Grüne Hügel", de bijnaam van Wagners eigen Festspielhaus in Bayreuth.
We zijn verheugd dat Frank van Aken, die de rol van Parsifal op verscheidene grote podia in de wereld zong, deze zomer de titelrol op zich neemt. De uitvoeringen worden in het Duits gezongen en Nederlands ondertiteld.</p>
  </section>

  <section class="artists">
    <h2 class="underline fadeIn">Uitvoerenden: Pantus & Friends</h2>
    <div class="musicians">
      <div class="artists-content fadeIn">
        <img src="/assets/img/tommy-harm3.jpg" alt="">
        <p class="musician fadeIn">
          <a class="homepage-link" href="https://www.tommyvandoorn.com/" target="_blank"><b>Tommy van Doorn</b> - Harmonium </a></p>
    </div>
      <div class="artists-content fadeIn">
          <img src="/assets/img/luijmes.jpg" alt="">
          <p class="musician fadeIn">
            <a class="homepage-link" href="http://www.dirkluijmes.nl/" target="_blank"><b>Dirk Luijmes</b> - Harmonium </a></p>
      </div>
      <div class="artists-content fadeIn ">
        <img src="/assets/img/charliebo.JPG" alt="">
        <p class="musician fadeIn">
            <a class="homepage-link" href="http://www.charliebomeijering.com/" target="_blank"><b>Charlie Bo Meijering</b> - Piano </a></p>
    </div>
      <div class="artists-content fadeIn ">
          <img src="/assets/img/DaanBoertienSebastianGaltier.jpg" alt="">
          <p class="musician fadeIn">
              <a class="homepage-link" href="https://www.daanboertien.com/" target="_blank"><b>Daan Boertien</b> - Piano </a></p>
      </div>
     
      </div>
      <div class="musicians">
        <div class="artists-content fadeIn">
          <img src="/assets/img/andrea.webp" alt="">
          <p class="musician fadeIn">
              <a class="homepage-link" href="http://www.andreafriggi.com/" target="_blank"><b>Andrea Friggi</b> - Synthesizer</a> </p>
      </div>
        <div class="artists-content fadeIn">
          <img src="/assets/img/runia.jpg" alt="">
          <p class="musician fadeIn">
              <a class="homepage-link" href="http://www.merlijnrunia.nl/" target="_blank"><b>Merlijn Runia</b> - Kundry </a> </p>
      </div>
      <div class="artists-content fadeIn">
          <img src="/assets/img/frankvanaken.webp" alt="">
          <p class="musician fadeIn">
             <a class="homepage-link" href="https://www.frankvanaken.com/" target="_blank"> <b>Frank van Aken</b> - Parsifal  </a> </p>
      </div>
      <div class="artists-content fadeIn">
          <img src="/assets/img/marc.jpeg" alt="">
          <p class="musician fadeIn">
             <a class="homepage-link" href="https://www.marcpantus.nl/marcpantus/marc_pantus_site/voordeur.html" target="_blank"> <b>Marc Pantus</b> - Gurnemanz / Amfortas </a> </p>
      </div>
    </div>
    
    
    <p class="fadeIn extra-participants">
      <b>Regie en vormgeving:</b> Marc Pantus en Merlijn Runia <br />
      <b>Muzikale leiding:</b> Andrea Friggi <br />
      <b>Bewerking:</b> Hugo Bouma
    </p>
  </section>



  <section class="why">
    <h2 class="underline fadeIn">Waarom Parsifal?</h2>
    <p class="fadeIn">
      Deze Parsifal in kleine bezetting is een regelrecht uitvloeisel van de
      corona-periode die achter ons ligt. Mijn naam is Marc Pantus, en ik ben
      zanger en regisseur. Als bas zijn de weken voor pasen al sinds mijn
      studietijd aan het conservatorium geheel gewijd aan de passies van Bach.
      En dat is bepaald geen straf, want de muziek is prachtig en elke
      uitvoering een belevenis. En tóch is het al sinds een paar jaar mijn
      droom: hoe fijn zou het zijn om op Goede Vrijdag niet een Mattheus Passie
      te hebben maar een Parsifal! Ondanks dat in maart 2021 alle passies waren
      afgelast, was er helaas ook geen mogelijkheid een alternatief te spelen
      voor een live publiek. Niettemin werd ons alternatief voor de jaarlijkse
      Mattheus, de bewerking van de derde acte van Parsifal, in maart van dit
      jaar gemaakt en eenmalig op Radio 4 opgenomen.
    </p>
    <p class="fadeIn">
      De derde acte van Parsifal is een wonder van kleur en harmonie, waarin
      Wagner tot het uiterste gaat, zowel in muzikale als inhoudelijke zin. Veel
      handelingen zijn er niet, maar des te meer extatische gevoelens en
      filosofische gedachten. Ik ben dit avontuur aangegaan, omdat het een
      prachtig stuk is waar ik me als zanger, maar vooral als mens graag mee wil
      verhouden. Maar zeker ook omdat het gaat over lijden en verlossing, een
      thematiek waar iedereen zich tegenwoordig wel iets bij kan voorstellen.
      Tenslotte omdat ik denk dat we op deze manier het publiek een veel
      intensere ervaring kunnen bieden van zowel de muziek als de tekst. Die
      tekst is namelijk ook prachtig en diepzinnig en troostrijk.
    </p>
  </section>

  <section class="arrangement">
    <h2 class="underline fadeIn">Bewerking</h2>
    <p class="fadeIn">
      Dirk Luijmes, met wie ik al langer over een Parsifal op Goede Vrijdag had
      gesproken, suggereerde om dat dan in bewerking voor piano en harmonium te
      doen, een instrument dat Dirk na aan het hart ligt. De combinatie Piano -
      Harmonium was er een die ook in Wagners tijd al gebruikt werd voor
      uitvoering van onderdelen uit zijn werk in de huiselijke kring. Ik heb
      vanwege de aard van het werk ervoor gekozen het instrumentarium uit te
      breiden met een rol voor een orgel of synthesizer, die ervoor kan zorgen
      dat er momenten van grote luidheid kunnen plaatshebben en waarmee we
      essentiële dingen als 4 klokken een extra kleur kunnen geven. Verder zijn
      er klokken en maken we gebruik van een basgitaar. Dit laatste omdat
      mezzo-sopraan Merlijn Runia dat instrument bespeelt en het een mooie
      aanvulling is op het sowieso vervreemdende effect van de bewerking van
      deze muziek, die zoals u weet voor zeer groot symfonieorkest is
      geschreven.
    </p>
  </section>

  <section>
    <!-- <h2 class="underline fadeIn">Speelplekken</h2>
    <p class="fadeIn">
      We spelen op twee bijzondere plekken. Het zijn beide katholieke kerken met
      een bijzonder en exuberant interieur. Ze vormen het natuurlijk decor van
      deze mystieke en religieuze opera en dragen bij aan de apotheose van de
      opera, die verder gekenmerkt wordt door eenvoudige visuele middelen.
     </p> -->
     <h2 class="underline visible fadeIn">Cenakelkerk</h2>
     <div class="church-container fadeIn">
        <img src="/assets/img/cenakelkerk-heilig-landstichting01.jpg" alt="">
        <p class="musician invisible">
           <a class="church" href="https://nl.wikipedia.org/wiki/Cenakelkerk_(Heilig_Landstichting)" target=”_blank”>Cenakelkerk</a>   </p>
    </div>
    <!-- <h2 class="underline visible fadeIn">Dominicuskerk</h2>
    <div class="church-container fadeIn">
       
        <img src="/assets/img/dominicuskerk.jpg" alt="">
        <p class="musician invisible">
           <a class="church" href="https://nl.wikipedia.org/wiki/Dominicuskerk_(Amsterdam)" target=”_blank”>Dominicuskerk </a>  </p>
    </div> -->
  </section>

  <section class="more-info">
    <h2 class="underline fadeIn">Meer informatie</h2>
    <p class="fadeIn">
      <b>Artistiek Leider:</b> Marc Pantus</br>
      <b>Mail:</b> stichting-iph@xs4all.nl</br>
    </p>
  </section>
  {% include logos.html %}
</div>

