---
layout: default
---

<div class="container margin-top">
  {% include nav.html %}

  <h2 class="fadeIn">Pers</h2>

  <section>
    <p class="fadeIn">Parsifal 3 in de media</p>
    <p class="fadeIn">
      <a
        href="https://www.nrc.nl/nieuws/2022/08/10/wagners-parsifal-woont-nu-in-een-verzorgingshuis-a4138584"
        >Interview Joep Stapel in het NRC</a
      >
    </p>
    <p class="fadeIn">
      <a
        href="https://www.volkskrant.nl/cultuur-media/drie-zangers-een-synth-een-harmonium-en-een-basgitaar-de-nieuwste-versie-van-wagners-parsifal~bf75561e/"
        >Interview Thomas Batelaan in de Volkskrant</a
      >
    </p>
    <p class="fadeIn">
      <a
        href="https://www.volkskrant.nl/cultuur-media/een-pandemie-op-zijn-tijd-is-gezond-voor-de-kunst~b65ca855/"
        >Column Merlijn Kerkhof in de Volkskrant</a
      >
    </p>
    <img
      class="margin-top fadeIn photo"
      src="/assets/img/DeVerlossingZichtbaarMaken.png"
      alt=""
    />
  </section>
  {% include logos.html %}
</div>
