<section class="logocontainer">
  <div class="logos">
    <div class="logo fadeIn">
      <img src="/assets/img/Wagner_main.png" alt="" />
    </div>
    <div class="logo fadeIn">
      <img src="/assets/img/375px-NPO_Radio_4_logo_2014.png" alt="" />
    </div>
    <div class="logo fadeIn">
      <img src="/assets/img/kickstartfonds.png" alt="" />
    </div>
  </div>
  <div class="logos">
    <div class="logo fadeIn">
      <img src="/assets/img/FPK_LOGO-WEB-XL.jpg" alt="" />
    </div>
    <div class="logo fadeIn">
      <img src="/assets/img/BNG.jpg" alt="" />
    </div>
    <div class="logo fadeIn">
      <img src="/assets/img/PBCF_Logo_oranje_RGB.png" alt="" />
    </div>
  </div>
</section>
