@media (min-width: 768px) {
  .landing-title {
    font-size: 8em;
    letter-spacing: 4px;
    margin-bottom: 0.5em;
  }

  .landing-subtitle {
    font-size: 4em;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 3em;
    margin-bottom: 0.75em;
  }

  .musicians,
  .agenda {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  .artists-content,
  .dates-card {
    flex: 1 0 35%;
  }

  .artists-content img {
    height: 95%;
    object-fit: cover;
  }

  .dates-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .church-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
  }

  .invisible {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    outline: 10em solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: absolute;
    transition: opacity 0.5s ease-out;
    font-family: "Trattatello";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 4em;
  }

  .church {
    color: white;
    text-decoration: none;
  }

  .church:hover {
    color: rgb(190, 190, 190);
  }

  .church-container:hover .musician {
    opacity: 1;
  }

  .fadeIn {
    transform: translateY(20px);
  }
}

@media (min-width: 1000px) {
  .artists-content {
    flex: 1 0 28%;
  }

  .musicians {
    margin-bottom: 4em;
  }
}
