@font-face {
  font-family: "Trattatello";
  src: url("/assets/font/trattatello.ttf");
}

body {
  font-family: "Merriweather";
  font-weight: 300;
}

h1,
.landing-subtitle,
.info-subtitle {
  font-family: "Trattatello";
  opacity: 0;
}
h2,
h3,
.button {
  font-family: "Merriweather";
  font-weight: 500;
  opacity: 0;
  letter-spacing: 0;
}
p {
  opacity: 0;
}

h2 {
  color: var(--clr-primary);
  font-size: 2em;
  position: relative;
}

.underline {
  display: inline-block;
}

h2.underline::after {
  position: absolute;
  content: "";
  left: -1%;
  right: -2%;
  bottom: 24%;
  height: 15%;
  background: rgb(205, 229, 233);
  z-index: -1;
}

p {
  color: rgba(0, 0, 0, 0.9);
}

.info-subtitle {
  color: var(--clr-secondary);
}
