@font-face {
  font-family: "Futura PT Medium";
  src: url("/assets/font/Futura-PT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Trattatello";
  src: url("/assets/font/trattatello-webfont.woff2") format("woff2"),
    url("/assets/font/trattatello-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Merriweather";
  font-weight: 300;
}

h1,
.landing-subtitle,
.info-subtitle {
  font-family: "Futura PT Medium";
  opacity: 0;
}
h2,
h3,
.button {
  font-family: "Futura PT Medium";
  font-weight: 500;
  opacity: 0;
  letter-spacing: 0;
}
p {
  opacity: 0;
}

h2 {
  color: var(--clr-primary);
  font-size: 2em;
  position: relative;
  margin-top: 0.3em;
}

.underline {
  display: inline-block;
}

// h2.underline::after {
//   position: absolute;
//   content: "";
//   left: -1%;
//   right: -2%;
//   bottom: 10px;
//   height: 15%;
//   background: rgb(205, 229, 233);
//   z-index: -1;
// }

p {
  color: rgba(0, 0, 0, 0.9);
}

.info-subtitle {
  color: var(--clr-secondary);
}

.navlink {
  color: var(--clr-secondary);
  font-size: 1.4em;
  text-decoration: none;
  transition: filter 0.2s ease-out;
}

.navlink:hover {
  filter: brightness(200%);
}

.navlink + .navlink {
  margin-left: 0.5em;
}

.date {
  text-transform: uppercase;
  color: var(--clr-secondary);
  margin-bottom: 0;
  font-size: 1.2em;
}

.place {
  color: var(--clr-primary);
  margin-bottom: 2em;
}

.homepage-link {
  color: var(--clr-secondary);
  transition: filter 0.3s ease-out;
}

.homepage-link:hover {
  filter: brightness(2);
}
